{% extends 'base.html' %}

{% block title %}
    {{super()}}
    CATEGORIAS
{% endblock %}

{% block content %}
<div class="fondo">
            <div class="cabecera">
                <h2 class = 'bold'>CATEGORIAS</h2>
                <div class="opciones">
                    <a class="btn-opcion" href="{{url_for('category.create')}}"><i class="fas fa-plus-square"></i></a>
                    <a class="btn-opcion" href="{{url_for('auth.logout')}}"><i class="fas fa-sign-out-alt"></i></a>
                </div>
            </div>
            <section class="container flex text-center">
                {% for categoria in categorias%}             
                    
                        <div class="columna">
                            <h2 class="bold mayuscula ">{{categoria.nombre}}</h2>  
                            <hr>
                            <div class="opciones">
                                <div class="btn-opcion"><a href="{{url_for('product.home',id=categoria.id)}}"><i class="fas fa-list-alt"></i></a></div>
                                <div class="btn-opcion"><a href="{{url_for('category.update',id=categoria.id)}}"><i class="fas fa-edit"></i></a> </div>
                                <div class="btn-opcion"><a href="{{url_for('category.delete',id=categoria.id)}}"><i class="fas fa-trash-alt"></i></a></div>
                            </div>
                        </div>
                
                {% endfor %}
            </section>
</div>
{% endblock %}

