
<header>
    
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo" >BodegasM</label>
        <ul>
            <li><a class="active" href="{{url_for('inicio')}}">Inicio</a></li>
            <li><a class="active" href="{{url_for('category.home')}}">Categorias</a></li>
            <li><a class="active" href="{{url_for('product.lista')}}">Productos</a></li>
        </ul>
    </nav>
</header>